@import "bootstrap-sprockets";
@import "bootstrap";



#contentWell {
	position: relative;
	float: right;
	height: auto !important;
	width: 800px;
	right: 0px;
	top: 0px;
	margin: 0px;
	padding: 15px 20px 15px 0px;
	background-color: #F8F8F8;
}

#header {
	width: inherit;
	height: 107px;
	border-top-left-radius: 50px;
	background-image: url("background_image.png");
}



body {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #444444;
	background-color: #eeefef;
}

hr {
	height: 1px;
	color: #c7c9cb;
	border: none;
	background-color:  #c7c9cb;
	width: 100%;
}
img {
	border-style: none;
}

#logo-link {
	position: absolute;
	left: 30px;
	top: 25px;
}
#adSpace0 {
	width: inherit;
	height: 324px;
	margin: 0px 0px 2px;
}
#adSpace0a {
	display: block;
	width: inherit;
	height: 187px;
	margin: 0px 0px 2px;
}
#adSpace1BG {
	position: absolute;
	width: 0px;
	left: 258px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #c7c9cb;
	z-index: 1;
}
#adSpace1 {
	float: left;
	width: 258px;
	color: #666666;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	height: auto;
	border-right: 1px solid #c7c9cb;
	z-index: 2;
}

#clear {
	clear:both;
}
#contentBlock {
	position: relative;
	margin: 0px;
	padding: 0px;
	height: auto !important;
	/*min-height: 500px;*/
}


.frame {
	position: relative;
	width: 800px;
    margin: 0 auto;
	font-size: 0.94em;
}
#frameHeader {
	margin-top: 42px;
}
#frameMain {
	background-color: #ffffff;
}
#frameBottom {
	background-image: url("background_image.png");
	height: 60px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#header {
	width: inherit;
	height: 107px;
	border-top-left-radius: 50px;
}

#navBottom {
	position: relative;
	/*clear: both;*/
	height: 60px;
	width: inherit;
	background-repeat: no-repeat;
	background-position: left;
	z-index: 1;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#bottomLeftCorner {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 2;
}


#navTop {
	position: relative;
	height: 56px;
	width: inherit;
	margin: 2px 0px;
}

img.dspImage {
	border-style: none;
	padding: 0px;
	/*margin: 0px 10px 0px 0px;*/
}
div.callOutBox1 {
	background-color: #f3f9d5;
	border: 1px solid #c7c9cb;
	padding: 10px;
}

/* AddSpace 1 items */
#widgetBlock {
	width: 228px;
	height: auto;
	margin: 0px;
	padding: 15px;
	z-index: inherit;
}



/* Property listings */
#breadCrumb {
	clear: both;
}
#dispImageBlock {
	position: relative;
	float: left;
	width: 486px;
	height: auto !important;
	min-height: 334px;
	margin: 0px;
}
#desc {
	margin: 0px;
	padding: 2px;
	height: auto;
	color: #8e9d47;
	/*border: 1px solid #949c50;
	background-color: #e7ffb5;*/
}
#desc p {
	color: #8e9d47;
	margin: 0px;
	padding: 0px;
}

#info1 {
	position: relative;
	float: left;
	width: 466px;
	margin: 0px;
	padding: 0px;
}
#info2 {
	position: relative;
	float: right;
	width: 282px;
	margin: 20px 0px 0px;
	padding: 0px;
}
#info2 ul {
	margin-left: 20px;
	padding-left: 0px;
}
#info3 {
	clear: both;
	width: 780px;
	margin: 5px 0px 0px;
	padding: 0px;
}
#listingAgent {
	position: relative;
	float: right;
	width: 282px;
	height: 113px;
	border-top: 1px solid #c7c9cb;
	border-bottom: 1px solid #c7c9cb;
	padding: 3px 0px 3px;
}

img.thumbImage {
	margin: 2px;
	cursor: pointer;
}

/* print info */
#printHeader {
	display: none;
}