<% provide(:title, 'About') %>
<h1>About Application</h1>
	<h5>GPA Projections Application calculates:<h5>
	<ul>
		<li>what GPA you need this semester to have a target cumulative/major GPA</li>
		<li>what is your predicted cumulative GPA/major GPA based on grades you expect to have this semester</li>
	<ul/>

	
