<% provide(:title, 'About') %>
<h1>About Application</h1>
	<h6>GPA Projections App is an application that calculates:<h6>
	<ul>
		<li>what GPA you need this semester to have a target cumulative/major GPA</li>
		<li>what is your predicted cumulative GPA/major GPA based on grades you expect to have this semester</li>
	<ul/>

	
