
                <ul class="nav nav-tabs">
                    <li role=presentation class="active">
                        <a data-toggle="tab" class="btn btn-large" href="#tab1" >
                            <abbr title="Target Cumulative GPA">Target cumulative GPA</abbr>
                        </a>
                    </li>
                       <li role=presentation>
                            <a data-toggle="tab" class="btn btn-large" href="#tab2"><abbr title="Target Major GPA">Target major GPA</abbr></a>
                        </li>
                        <li role=presentation>
                            <a data-toggle="tab" class="btn btn-large" href="#tab3"><abbr title="Target Predicted Gpa">Predicted GPA</abbr></a>
                       </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <%=render 'form_for_target_cumulative_gpa' %>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <%=render 'form_for_target_major_gpa' %>
                        </div>
                         <div class="tab-pane" id="tab3">
                            <%=render 'form_for_predicted_gpas' %>
                        </div>
                      </div>

